* {
  margin: 0;
  padding: 0;
  border: none;
}

h1, h2 {
  text-align: center;
}

h1 {
  width: device-width;
  margin: auto;
  padding: 50px;
  padding-bottom: 30px;
  padding-top: 100px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-family: 'Julius Sans One', sans-serif;
}
h2{
  font-size: 18px;
  font-style: oblique ;
}

html {
  height: 100%;
  background-image: url("asset/person-984282_960_720.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  background: rgba(250,250,250,0.2);
  height: 100%;
}
